body {
    font-family: Arial, sans-serif;
    color: #6C5C94;
    background-color: #FFFFFF;
}

.header {
    text-align: center;
    padding: 2em 0;
    background-color: #F8F9FA;
    color: #333;
}

.title {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.subtitle {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.cta-button {
    background-color: #6C5C94;
    border: none;
    padding: 0.5em 2em;
    font-size: 1.2em;
    color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #715cbd;
    /* Violeta más claro */
}

.section {
    padding: 4em 0;
}

.bg-light {
    background-color: #f9f9f9;
}

.imgs-body {
    width: 100%;
    object-fit: contain;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin: auto;
}

/* Estilos para pantallas extra grandes */
@media (min-width: 1200px) {
    .imgs-body {
        width: 16em;
        object-fit: contain;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
        margin: auto;
    }

}

/* Estilos para pantallas extra pequeñas */
@media (max-width: 777px) {
    .imgs-body {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
        display: flex;
        justify-content: center;
    }

    .esconder {
        display: none;
    }

}

@media (min-width: 788px) {
    .container-carrusel {
        display: none;
    }
}