.loading-container {
    text-align: center;
    margin-top: 20px;
}

.loading-ring {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 6px solid #ddd;
    border-radius: 50%;
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}

.section-validador {
    width: 80%;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


@media (min-width: 836px) {
    .section-validador {
        width: 60%;
        margin-top: 2em;
        margin-bottom: 3em;

    }

}