/*========================   Footer   ===========================*/
footer{
    background-color: #6c5c94;
    height: 8em;
    align-content: center;
}



.redes-creador {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.redes-nombres {
    padding-left: 2px;
    margin: 0%;
}

.texto-copy {
    color: #fff;
    margin: 1px;
    font-size: large;
}


.contenedor-img-login {
    width: 40%;
    margin: auto;
}

.perritoquenove {
    margin-bottom: -2em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-iconos {
    width: 26px;
    height: 26px;
    color: #fff;
    
}



/* Estilos para pantallas grandes */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .redes-creador {
        margin: 10px;
        display: flex;
        justify-content: center;
        gap: 12em;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Estilos para pantallas extra grandes */
@media (min-width: 1200px) {
    .redes-creador {
        margin: 10px;
        display: flex;
        justify-content: center;
        gap: 12em;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
