/********* CELULALRES ******************/

@media (max-width: 768px) {

    /* Estilos base del carrusel */
    .carousel .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;

    }

    /* Estilos de la tarjeta */
    .cardd {
        margin: auto;
        background: linear-gradient(145deg, #ede9e9, #e9e6fe);
        border-radius: 15px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
        height: 16em;
    }

    /* Efecto hover para todas las tarjetas */
    .cardd:hover {
        transform: translateY(-5px);
    }

    /* Efecto para la tarjeta del centro */
    .carousel .center-slide .cardd {
        transform: scale(1.1);
        /* Hace la tarjeta un 10% más grande */
        z-index: 1;
        /* Asegura que la tarjeta se muestre por encima de las otras */
    }

    /* Estilos del cuerpo de la tarjeta */
    .cardd-body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Estilos del título de la tarjeta */
    .cardd-title {
        font-size: 1.2rem;
        color: #333;
    }

    /* Estilos del texto de la tarjeta */
    .cardd-text {
        font-size: 1rem;
        color: #666;
    }

    /* Estilos para el pie de la tarjeta */
    .cardd-footer {
        padding: 10px;
        background: #f1d6d6;
        border-top: 1px solid #e9ecef;
    }

    /* Estilos para botones o acciones */
    .cardd-action {
        text-align: right;
    }

    .cardd-action button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .cardd-action button:hover {
        background-color: #0056b3;
    }


}


.carousel-root{
    margin-bottom: 3em;
}
/*  ******************** DESKTOPS   ***************************/


/* Pantallas grandes (desktops) */
@media only screen and (min-width: 769px) {

    .carousel .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;

    }

    .cardd {
        margin: auto;
        background: linear-gradient(145deg, #ede9e9, #e9e6fe);

        border-radius: 15px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
        height: 12em;
        width: 80%;
    }

    .cardd:hover {
        transform: translateY(-5px);
    }

    .carousel .center-slide .cardd {
        transform: scale(1.1);
        z-index: 1;
    }

    .cardd-body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cardd-title {
        font-size: 1.5rem;
        color: #333;
        text-align: center;


    }

    .cardd-text {
        font-size: 1rem;
        color: #666;

    }


}