.whatsapp-button  img .join-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Aumentar el z-index para garantizar que esté por encima de otros elementos */
}

.whatsapp-icon {
    width: 40px;
    height: 40px;
}