/* Estilos generales del login */
.main-login {
    padding: 4em 1em;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-section {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-title {
    color: #6C5C94;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.login-form label {
    color: #6C5C94;
    font-weight: 500;
    margin-bottom: 8px;
}

.login-form input {
    padding: 12px;
    border: 1px solid #6C5C94;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.password-input-container {
    position: relative;
    width: 100%;
}

.password-input {
    width: 100%;
    padding-right: 40px;
    /* Espacio para el ícono de mostrar/ocultar contraseña */
}

.password-toggle-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6C5C94;
    font-size: 1.2rem;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    text-align: center;
}

.login-btn {
    background-color: #6C5C94;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.login-btn:hover {
    background-color: #663399;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .login-section {
        padding: 20px;
        border-radius: 5px;
    }

    .login-title {
        font-size: 1.3rem;
    }
}

@media (max-width: 575.98px) {
    .login-section {
        padding: 15px;
    }
}

/* Para pantallas grandes */
@media (min-width: 1200px) {
    .login-section {
        width: 35%;
    }
}