.main-login {
    padding: 3em;
    margin: auto;
    height: auto;

}

.login-section {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 80vh;
    padding: .7em;
}

.club-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.club-logo {
    width: 50px;
    /* Ajusta esto según el tamaño deseado */
}

.login-title {
    color: #6C5C94;
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.login-form label {
    color: #6C5C94;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-form input {
    padding: 10px;
    border: 1px solid #6C5C94;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.login-btn {
    background-color: #6C5C94;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #663399;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.password-input-container {
    position: relative;
    width: 100%;
}

.password-input {
    width: 100%;
    padding-right: 40px;
    /* Espacio para el ícono */
}

.password-toggle-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .login-section {
        padding: 20px;
        border-radius: 5px;
    }

    .club-logo {
        width: 40px;
        /* Ajusta para dispositivos móviles */
    }

}


/* Estilos para pantallas extra pequeñas */
@media (max-width: 575.98px) {
    .login-section {
        height: 27em;
    }
}

/* Estilos para pantallas pequeñas */
@media (min-width: 576px) and (max-width: 767.98px) {
    .login-section {
        height: 27em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .login-section {
        height: 27em;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .login-section {
        height: 27em;
    }
}

/* Estilos para pantallas extra grandes */
@media (min-width: 1200px) {
    .login-section {
        height: 27em;
    }
}

.message{
    margin-top: 12px;
}