/* Estilo para el navbar */
.navbar-container {
	background-color: #DDB3C9 !important;
	/* Color de fondo principal */
	height: 4em !important;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	/* Sombra suave para el navbar */
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: flex-end;
}

.offcanvas-body {
	align-items: center;
}

/* Estilo para los links de navegación */
.linkscontainer {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	font-weight: 600;
}

.linkscontainer .nav-link {
	color: #333;
	/* Color del texto principal */
	font-size: 1em;
	transition: color 0.3s;
}

.linkscontainer .nav-link:hover {
	color: #ffffff !important;
	/* Color del texto al pasar el mouse */
}

.nav-link {
	color: #000000ca !important;
	font-size: 1.3em !important;

}

/* Estilo para el título del offcanvas */
#offcanvasNavbarLabel-expand-xl {
	font-size: 1.5em !important;
	color: #333;
	/* Color del título */
	font-weight: 700;
	/* Peso del título */
}

/* Estilos para el botón de cierre del offcanvas */
.offcanvas-header .btn-close {
	background-color: transparent;
	/* Fondo transparente */
	border: none;
	/* Sin borde */
}

/* Responsividad del navbar */
@media (max-width: 1199px) {
	.linkscontainer {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-evenly;
		font-weight: 600;
	}

	#offcanvasNavbar-expand-xl {
		font-weight: 600 !important;
		font-size: 1.2em !important;
		width: 65% !important;
	}

	.linkscontainer .nav-link:hover {
		color: #000000 !important;
		/* Color del texto al pasar el mouse */
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	#offcanvasNavbar-expand-xl {
		font-weight: 600 !important;
		font-size: 1.2em !important;
		width: 50% !important;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#offcanvasNavbar-expand-xl {
		font-weight: 600 !important;
		font-size: 1.2em !important;
		width: 40% !important;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	#offcanvasNavbar-expand-xl {
		font-weight: 600 !important;
		font-size: 1.2em !important;
		width: 35% !important;
	}
}