/* nav.css */
.smart-header {
	background: linear-gradient(to bottom, #6C5C94, rgba(221, 179, 201, 0.805));
	color: white;
}

.navbar-gradient {
	background: linear-gradient(to bottom, #6C5C94, rgba(221, 179, 201, 0.805)) !important;
	width: 100%;
}

.logo-img {
	width: 4em;
	object-fit: cover;
}

/* Estilo para el menú desplegable */
.navbar-nav .nav-link {
	color: white !important;
}

.navbar-nav .nav-link:hover {
	color: #CD7FA7 !important;
}

.navbar-toggle .navbar-toggler-icon {
	background-color: white;
}

/* Estilos para los botones de autenticación */
.auth-buttons .btn {
	padding: 0.5rem 1.5rem;

}

/* Asegura que los botones Entrar y Registro estén siempre visibles */
@media (max-width: 991px) {
	.auth-buttons {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-left: 1rem;
	}

	.navbar-toggler {
		margin-top: 10px;
	}
}

/* Estilo para el navbar y su contenido */
.navbar>.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 2em;
	justify-content: flex-end;
}



.btn2 {
	margin-left: 10px;
}

.container-navbar-header {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;


}

.container-header {
	width: 100% !important;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end !important;
	flex-direction: row;
}

.contenedor-img-header {
	width: 100% !important;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	gap: 1em;
}


.contendor-links-header {
	width: 100% !important;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: stretch;
	margin-left: 1em;
	margin-right: 2em;
}

.menu-hamburguesa {
	width: 100%;
	width: 3.4em;
	align-items: end;
	justify-content: end;
}

.hamburguesa {
	width: 100%;
	display: flex;
	flex-flow: row nowrap !important;
	justify-content: space-between !important;
	align-items: center;
	font-weight: 600;


}


@media (min-width: 992px) {
	.hamburguesa {
		width: 100% !important;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly !important;
	}

}
